<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=${lang}">
<head th:insert="~{fragments/head.html :: header}">
</head>
<body>

<div th:replace="~{fragments/navBar.html :: bar}"></div>

<h3 class="text-center pt-5" th:text="#{setup.title}"></h3>

<div class="container">
    <div class="input-group mb-5 d-flex justify-content-around">
        <form
                action="#"
                th:action="@{~/setup/disable}"
                method="get"
        >
            <input
                    type="submit"
                    class="btn btn-block col-12"
                    th:classappend="${status == 'ENABLED' ? 'enabled btn-warning' : 'disabled btn-outline-warning'}"
                    th:value="#{setup.disable.button}"
            />
            <input
                    type="hidden"
                    class="hiding"
                    th:name="goto"
                    th:value="setup"
            />
        </form>
        <form
                action="#"
                th:action="@{~/setup/enable}"
                method="get"
        >
            <input
                    type="submit"
                    class="btn btn-block col-12"
                    th:classappend="${status == 'DISABLED' ? 'enabled btn-success' : 'disabled btn-outline-success'}"
                    th:value="#{setup.enable.button}"
            />
            <input
                    type="hidden"
                    class="hiding"
                    th:name="goto"
                    th:value="setup"
            />
        </form>
    </div>

    <form
            action="#"
            th:action="@{~/setup/message}"
            method="post"
    >
        <div class="row">
            <div class="input-group mb-2">
                <textarea
                        class="text-area form-control"
                        rows="5"
                        placeholder="Autoreply message:"
                        name="message"
                        th:text="${message}"
                >
                </textarea>
                <input
                        type="submit"
                        class="btn btn-outline-primary btn-block"
                        th:value="#{setup.send.button}"
                />
            </div>
        </div>
    </form>
</div>
</body>
</html>
