<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=${lang}">
<head th:insert="~{fragments/head.html :: header}">
</head>
<body>

<div th:replace="~{fragments/navBar.html :: bar}"></div>

<h3 class="text-center pt-5" th:text="#{status.title}"></h3>

<div class="container">
    <div class="row">
        <div class="col" th:text="#{status.appStatus.title}"></div>
        <div class="col" th:text="${appStatus}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.appMessage.title}"></div>
        <div class="col" th:text="${appMessage}"></div>
    </div>
</div>

<h3 class="text-center pt-5" th:text="#{status.clientStatus.title}"></h3>

<div class="container">
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.isClosed}"></div>
        <div class="col" th:text="${clientStatus.isClosed}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.isWaitCode}"></div>
        <div class="col" th:text="${clientStatus.isWaitCode}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.isWaitPassword}"></div>
        <div class="col" th:text="${clientStatus.isWaitPassword}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.isWaitEmail}"></div>
        <div class="col" th:text="${clientStatus.isWaitEmail}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.haveAuthorization}"></div>
        <div class="col" th:text="${clientStatus.haveAuthorization}"></div>
    </div>
    <div class="row">
        <div class="col" th:text="#{status.clientStatus.appVersion}"></div>
        <div class="col" th:text="${appVersion}"></div>
    </div>
</div>

<div th:if="${clientStatus.isClosed}" th:text="#{status.clientStatus.ifIsClosed}"></div>

<h3
        class="text-center pt-5"
        th:if="${clientStatus.isWaitCode || clientStatus.isWaitPassword || clientStatus.isWaitEmail}"
        th:text="#{status.ifActions.title}"
></h3>

<div th:if="${!clientStatus.isClosed}">
    <div th:if="${clientStatus.isWaitCode}" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="authCodeInput" th:text="#{status.ifActions.authCode}"></label>
        </div>
        <form
                action="#"
                th:action="@{/auth-code}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="authCodeInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-primary btn-block"
                    th:value="#{status.ifActions.authCode.send}"
            />
        </form>
    </div>

    <div th:if="${clientStatus.isWaitPassword}" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="passInput" th:text="#{status.ifActions.pass}"></label>
        </div>
        <form
                action="#"
                th:action="@{/auth-password}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="passInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-primary btn-block"
                    th:value="#{status.ifActions.pass.send}"
            />
        </form>
    </div>

    <div th:if="${clientStatus.isWaitEmail}">
        <div class="input-group-prepend">
            <label class="input-group-text" for="emailInput" th:text="#{status.ifActions.eMail}"></label>
        </div>
        <form
                action="#"
                th:action="@{/auth-email}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="emailInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-primary btn-block"
                    th:value="#{status.ifActions.eMail.send}"
            />
        </form>
    </div>
</div>

<div>
    <h3 class="text-center pt-5" th:text="#{status.sessionStatistics.title}"></h3>

    <div class="container">
        <div class="row">
            <div class="col" th:text="#{status.sessionStatistics.chatMessagesCount}"></div>
            <div class="col" th:text="${clientStatus.statistics.chatMessagesCount}"></div>
        </div>
        <div class="row">
            <div class="col" th:text="#{status.sessionStatistics.privateMessagesCount}"></div>
            <div class="col" th:text="${clientStatus.statistics.privateMessagesCount}"></div>
        </div>
        <div class="row">
            <div class="col" th:text="#{status.sessionStatistics.privateMessagesResponsesCount}"></div>
            <div class="col" th:text="${clientStatus.statistics.privateMessagesResponsesCount}"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
