<!DOCTYPE html>
<html>
<head th:insert="~{fragments/head.html :: header}">
</head>
<body>

<div th:replace="~{fragments/navBar.html :: bar}"></div>

<h3 class="text-center pt-5">Replier status</h3>

<div class="container">
    <div class="row">
        <div class="col">Status:</div>
        <div class="col" th:text="${appStatus}"></div>
    </div>
    <div class="row">
        <div class="col">Message:</div>
        <div class="col" th:text="${appMessage}"></div>
    </div>
</div>

<h3 class="text-center pt-5">Client status</h3>

<div class="container">
    <div class="row">
        <div class="col">Is client closed:</div>
        <div class="col" th:text="${clientStatus.isClosed}"></div>
    </div>
    <div class="row">
        <div class="col">Is client awaiting for code:</div>
        <div class="col" th:text="${clientStatus.isWaitCode}"></div>
    </div>
    <div class="row">
        <div class="col">Is client awaiting for password:</div>
        <div class="col" th:text="${clientStatus.isWaitPassword}"></div>
    </div>
    <div class="row">
        <div class="col">Is client awaiting for e-mail:</div>
        <div class="col" th:text="${clientStatus.isWaitEmail}"></div>
    </div>
    <div class="row">
        <div class="col">Is client authorization completed:</div>
        <div class="col" th:text="${clientStatus.haveAuthorization}"></div>
    </div>
    <div class="row">
        <div class="col">Client build version:</div>
        <div class="col" th:text="${appVersion}"></div>
    </div>
</div>

<div th:if="${clientStatus.isClosed}">Client is closed</div>

<h3
        class="text-center pt-5"
        th:if="${clientStatus.isWaitCode || clientStatus.isWaitPassword || clientStatus.isWaitEmail}"
>
    Actions:
</h3>

<div th:if="${!clientStatus.isClosed}">
    <div th:if="${clientStatus.isWaitCode}" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="authCodeInput">Authentication code:</label>
        </div>
        <form
                action="#"
                th:action="@{/auth-code}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="authCodeInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-secondary"
                    th:value="Send"
            />
        </form>
    </div>

    <div th:if="${clientStatus.isWaitPassword}" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="passInput">Authentication password:</label>
        </div>
        <form
                action="#"
                th:action="@{/auth-password}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="passInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-secondary"
                    th:value="Send"
            />
        </form>
    </div>

    <div th:if="${clientStatus.isWaitEmail}">
        <div class="input-group-prepend">
            <label class="input-group-text" for="emailInput">User e-mail:</label>
        </div>
        <form
                action="#"
                th:action="@{/auth-email}"
                method="post"
        >
            <input
                    type="text"
                    class="form-control"
                    name="data"
                    id="emailInput"
            />
            <input
                    type="submit"
                    class="btn btn-outline-secondary"
                    th:value="Send"
            />
        </form>
    </div>
</div>

<div>
    <h3 class="text-center pt-5">Current session statistics:</h3>

    <div class="container">
        <div class="row">
            <div class="col">Chat messages:</div>
            <div class="col" th:text="${clientStatus.statistics.chatMessagesCount}"></div>
        </div>
        <div class="row">
            <div class="col">Private messages:</div>
            <div class="col" th:text="${clientStatus.statistics.privateMessagesCount}"></div>
        </div>
        <div class="row">
            <div class="col">Replied messages:</div>
            <div class="col" th:text="${clientStatus.statistics.privateMessagesResponsesCount}"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
