<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<links th:fragment="links">


    <hr>
    <h3>Links</h3>
    <div
            style="padding: 6px"
    >
        <a
                th:href="@{/}"
        >
            Home >
        </a>
    </div>
    <div
            style="padding: 6px"
    >
        <a
                th:href="@{/setup}"
        >
            Setup >
        </a>
    </div>
    <div
            style="padding: 6px"
    >
        <a
                th:href="@{/tg/status}"
        >
            Status >
        </a>
    </div>
    <div
            style="padding: 6px"
    >
        <a
                th:href="@{/logout}"
        >
            Logout >
        </a>
    </div>
</links>

</body>
</html>
